{% extends "base.html" %}

{% block title %}Home | Trick or Treat{% endblock %}

{% block content %}
  <section id="home-main">
    <h1 class="text-center display-5">Trick or Treat Route Finder!</h1>
    <div class="container">
     <div class="row text-center row-gap-4">
        <div class="column col-12 mt-2">
          <p class="text-center">Find the best Trick-or-Treat spots near you</p>
          <a href="/" class="btn btn-warning">🍬 Trick or Treater</a>
        </div>
        <div class="column col-12 mt-2">
          <p class="text-center">Or let Trick-or-Treaters know your candy status</p>
          <a href="/" class="btn btn-warning">🏠 Update my Status</a>
        </div>
      </div>
    </div>
  </section>

  <section id="map" class="my-4">
    {% include "mapapp/map.html" %}
  </section>
{% endblock %}