{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
<link rel="stylesheet" href="{% static 'css/spooky.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="{% static 'mapapp/css/style.css' %}">

{% endblock %}

{% block title %}Home | Trick or Treat{% endblock %}

{% block content %}
  <section id="home-main">
    <h1 class="text-center display-5">Trick or Treat Route Finder!</h1>
    <div class="container">
     <div class="row text-center row-gap-4">
        <div class="column col-12 mt-2">
          <p class="text-center">Find the best Trick-or-Treat spots near you</p>
          <a href="/" class="btn btn-warning">🍬 Trick or Treater</a>
        </div>
        <div class="column col-12 mt-2">
          <p class="text-center">Or let Trick-or-Treaters know your candy status</p>
          <a href="/" class="btn btn-warning">🏠 Update my Status</a>
        </div>
      </div>
    </div>
  </section>

  <section id="map" class="my-4">
    {% include "mapapp/map.html" %}
  </section>

  
<script>
window.ROUTE_CONFIG = {
  HOUSES_JSON_URL: "{% url 'houses_json' %}",
  ADD_HOUSE_URL: "{% url 'add_house' %}",
  DELETE_HOUSE_TEMPLATE: "{% url 'delete_house' 0 %}",
  UPDATE_HOUSE_TEMPLATE: "{% url 'update_house' 0 %}"
};
</script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'mapapp/js/maps.js' %}"></script>
{% endblock %}

